<div class="page-header">
  <%= link_to 'Add new blog post', new_admin_blog_post_path, :class => 'btn pull-right' %>
  <h2>Blog Posts</h2>
</div>

<ul class='list posts'>
  <% @posts.each do |post| %>
    <%= render :partial => 'post', :object => post %>
  <% end %>
</ul>

<% if defined?(WillPaginate) %>
  <%= will_paginate @posts %>
<% elsif defined?(Kaminari)%>
  <%= paginate @posts %>
<% end %>